{% extends "base.html" %}

{% load i18n %}

{% block htmltitle %}{% trans 'Wishlist' %}{% endblock %}
{% block title %}{% trans 'Wishlist' %}{% endblock %}

{% block content %}
<ul>
    {% for item in object_list %}
        <li>
            <a href="{{ item.get_absolute_url }}">{{ item }}</a>
            <form action="{% url 'wishlist_remove' item.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Remove' %}">
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock content %}
