{% extends "base.html" %}

{% load i18n %}
{% load url from future %}

{% block htmltitle %}{% trans 'Wishlist' %}{% endblock %}
{% block title %}{% trans 'Wishlist' %}{% endblock %}

{% block content %}
<ul>
    {% for item in object_list %}
        <li>
            <a href="{{ item.get_absolute_url }}">{{ item }}</a>
            <form action="{% url 'wishlist_remove' pk=item.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Remove' %}">
            </form>
        </li>
    {% endfor %}
</ul>

<nav>
    <p><a href="{% url 'wishlist_add' %}">{% trans 'Add item to wishlist' %}</a></p>
    <p><a href="{% url 'wishlist_clear' %}">{% trans 'Clear wishlist' %}</a></p>
</nav>
{% endblock content %}
